<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Zaplings | Let's do something</title>
<%= stylesheet_link_tag "//assets/stylesheets/style" %>
<link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic' rel='stylesheet' type='text/css'>

<%= javascript_include_tag "modernizr" %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "doubletaptogo.min" %>
<%= javascript_include_tag "jquery.placeholder" %>